button:hover {
  background-color: #f0f0f0;
}

button:active {
  background-color: #ddd;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(134, 134, 255);
}

/* Ensure that the navigation buttons are not too close to each other */
button + button {
  margin-left: 5px;
}

/* Additional styles to enhance the appearance of the navigation area */
.navigation {
  margin-bottom: 20px;
}

.logo-container img {
  display: block;
  margin: 20px auto;
  max-width: 200px;
  height: auto;
}

#controls-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#games-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.game {
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: none;
  box-shadow: 5px 5px 5px rgb(53, 53, 93);
  border-radius: 5px;
  transition: transform 0.3s ease;
  background-color: #eceff1;
}

.game:hover {
  transform: scale(1.05);
}

.team {
  display: flex;
  align-items: center;
  gap: 5px;
}

.team img {
  object-fit: contain;
  width: 100%;
  max-width: 100px; /* Adjusted for better responsiveness */
  height: auto;
}

.team span {
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 7rem; /* Adjusted for better readability */
}

.game_punctuation {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke-width: 1px;
}

@media only screen and (min-width: 992px) {
  .team img {
    max-width: 200px; /* Ensure logos are larger on wider screens */
  }
}

#currentDateSpan {
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.button-27 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow:
    transparent 0 0 0 3px,
    rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition:
    box-shadow 0.2s,
    -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-27:hover {
  box-shadow:
    #121212 0 0 0 3px,
    transparent 0 0 0 0;
}
